---
title: Chaotic Systems and Particle Simulators
description: Why chaotic systems are interesting to visualize, and efficiently rendering particle trails with Three.js
date: 2026-06-25
---

Text lorem ipsum todo

$$
\begin{bmatrix} \dot{x} \\ \dot{y} \\ \dot{z} \end{bmatrix}
= \begin{bmatrix} \sigma (y - x) \\ x (\rho - z) - y \\ x y - \beta z \end{bmatrix}
$$
