---
title: Realtime Particle Simulations and 3D Rendering
description: Simulating multiple particles following a chaotic ODE, and rendering trails with Three.js.
date: 2026-08-13
---

<script>
    import { resolve } from "$app/paths";

    import ParticleCanvas from "$lib/particles/Canvas.svelte";
</script>

<div class="toc rounded-xl border border-bglight-2 shadow-xl bg-bglight-1 px-10 py-2 dark:bg-bgdark-1 dark:border-bgdark-2">

<p class="font-semibold text-textlight-1 dark:text-textdark-1">
    Contents
</p>

- [Part 1: Realtime Simulator](#part-1-realtime-simulator)
    - [Chaotic Systems](#chaotic-systems)
    - [The Lorenz System](#the-lorenz-system)
    - [Numerical Integrators](#numerical-integrators)
    - [Adaptive Integrators](#adaptive-integrators)
    - [Timestep Interpolation](#timestep-interpolation)
- [Part 2: Trail Rendering](#part-2-trail-rendering)
    - [Drawing Lines](#drawing-lines)
    - [Ring Buffers](#ring-buffers)
    - [Shaders](#shaders)
    - [Colors](#colors)
- [Final Result](#final-result)

</div>

### Part 1: Realtime Simulator

todo

#### Chaotic Systems

todo

#### The Lorenz System

todo

#### Numerical Integrators

todo

#### Adaptive Integrators

todo

#### Timestep Interpolation

todo

### Part 2: Trail Rendering

todo

#### Drawing Lines

todo

#### Ring Buffers

todo

#### Shaders

todo minimize data transfers between vram and ram

#### Colors

todo

### Final Result

todo

<div class="h-[500px] [&>div]:h-full">
    <ParticleCanvas />
</div>
