@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "katex/dist/katex.min.css";

.prose .katex {
    font-size: 1.1em;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility darkModeFade {
    transition:
        color 200ms,
        background-color 200ms,
        border-color 200ms;
}

@theme {
    --color-bgdark-1: hsl(200, 20%, 5%);
    --color-bgdark-2: hsl(200, 20%, 15%);
    --color-bgdark-3: hsl(200, 20%, 20%);

    --color-textdark-1: hsl(40, 10%, 90%);
    --color-textdark-2: hsl(40, 10%, 80%);
    --color-linkdark: hsl(220, 50%, 60%);

    --color-bglight-1: hsl(200, 20%, 95%);
    --color-bglight-2: hsl(200, 20%, 85%);
    --color-bglight-3: hsl(200, 20%, 80%);

    --color-textlight-1: hsl(40, 10%, 10%);
    --color-textlight-2: hsl(40, 10%, 20%);
    --color-linklight: hsl(220, 50%, 40%);
}
