@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility darkModeFade {
    transition:
        color 200ms,
        background-color 200ms,
        border-color 200ms;
}

@theme {
    --color-bgdark-1: hsl(200, 50%, 5%);
    --color-bgdark-2: hsl(200, 50%, 10%);
    --color-bgdark-3: hsl(200, 50%, 15%);

    --color-textdark-1: hsl(200, 10%, 90%);
    --color-textdark-2: hsl(200, 10%, 80%);

    --color-bglight-1: hsl(200, 20%, 95%);
    --color-bglight-2: hsl(200, 20%, 90%);
    --color-bglight-3: hsl(200, 20%, 85%);

    --color-textlight-1: hsl(200, 10%, 10%);
    --color-textlight-2: hsl(200, 10%, 20%);
}
